<div class="layout">
<header class="topbar">
<div class="brand">Bosch Pizza</div>
<button class="menu-btn" (click)="toggleMenu()">☰</button>
<nav [class.open]="menuOpen">
<a routerLink="/home" routerLinkActive="active">Home</a>
<a routerLink="/pizzas" routerLinkActive="active">Pizzas</a>
<a routerLink="/clientes" routerLinkActive="active">Clientes</a>
<a *ngIf="authService.getUserRole() === 'Admin'" routerLink="/user" routerLinkActive="active">Usuários</a> <!--Adicinar a rota de usuários-->
<button type="button" (click)="logout()">Sair</button>
</nav>
</header>
<main class="content">
<router-outlet></router-outlet>
</main>
</div>